<article class="event-item {{ class }}">
    {% render 'partials/category-label.liquid', text: card-label %} 
    <h4 class="event-title">{{ card-title }}</h4>

    <div class="event-data-content">
        <div class="event-date-location-data-container">
            <time class="event-date">{{ card-date }}</time>
            <span class="location">/ {{ card-location }}</span>
        </div>

        {% render 'partials/link-href.liquid', link: card-href-link, linktext: 'DETAILS', class: "event-details-button" %}
    </div>
</article>

