<div class="leden-section-container">

<section class="image-container">
    <picture class="lid-logo-1">
        <source type="image/avif" srcset="/img/lid-1.avif">
        <source type="image/webp" srcset="/img/lid-1.webp">
        <img class="lid-image" src="/img/lid-1.png" loading="lazy" alt="Clever Frank" height="120" width="120">
    </picture>

    <picture class="lid-logo-2">
        <source type="image/avif" srcset="/img/lid-2.avif">
        <source type="image/webp" srcset="/img/lid-2.webp">
        <img class="lid-image" src="/img/lid-2.png" loading="lazy" alt="Humanoids" height="120" width="120">
    </picture>

    <picture class="lid-logo-3">
        <source type="image/avif" srcset="/img/lid-3.avif">
        <source type="image/webp" srcset="/img/lid-3.webp">
        <img class="lid-image" src="/img/lid-3.png" loading="lazy" alt="Resoluut" height="120" width="120">
    </picture>

    <picture class="lid-logo-4">
        <source type="image/avif" srcset="/img/lid-4.avif">
        <source type="image/webp" srcset="/img/lid-4.webp">
        <img class="lid-image" src="/img/lid-4.png" loading="lazy" alt="Koos" height="120" width="120">
    </picture>

    <picture class="lid-logo-5">
        <source type="image/avif" srcset="/img/lid-5.avif">
        <source type="image/webp" srcset="/img/lid-5.webp">
        <img class="lid-image" src="/img/lid-5.png" loading="lazy" alt="H-logo" height="120" width="120">
    </picture>

    <h4 class="lid-title">Jouw agency kan hier staan</h4>

    <picture class="lid-logo-6">
        <source type="image/avif" srcset="/img/lid-6.avif">
        <source type="image/webp" srcset="/img/lid-6.webp">
        <img class="lid-image" src="/img/lid-6.png" loading="lazy" alt="Io-logo" height="120" width="120">
    </picture>

    <picture class="lid-logo-7">
        <source type="image/avif" srcset="/img/lid-7.avif">
        <source type="image/webp" srcset="/img/lid-7.webp">
        <img class="lid-image" src="/img/lid-7.png" loading="lazy" alt="Verve" height="120" width="120">
    </picture>

    <picture class="lid-logo-8" >
        <source type="image/avif" srcset="/img/lid-8.avif">
        <source type="image/webp" srcset="/img/lid-8.webp">
        <img class="lid-image" src="/img/lid-8.png" loading="lazy" alt="Stimmt" height="120" width="120">
    </picture>

    <picture class="lid-logo-9">
        <source type="image/avif" srcset="/img/lid-9.avif">
        <source type="image/webp" srcset="/img/lid-9.webp">
        <img class="lid-image" src="/img/lid-9.png" loading="lazy" alt="Power Kraut" height="120" width="120">
    </picture>

    <picture class="lid-logo-10">
        <source type="image/avif" srcset="/img/lid-10.avif">
        <source type="image/webp" srcset="/img/lid-10.webp">
        <img class="lid-image" src="/img/lid-10.png" loading="lazy" alt="B-logo" height="120" width="120">
    </picture>
</section>


<section class="publication-container">
    <p class="label">PUBLICATIES</p>

    <h5 class="publication-title xxl">KOM BIJ DE BESTE DIGITALE BUREAUS VAN NEDERLAND</h5>

    <span class="publication-btn">
        {% render 'partials/button.liquid', submit: "WORD LID", class: "button"%}
    </span>
</section>

</div>
