  <section class="section-title-container">
    <p class="label">{{ category }}</p>

    <h2 class="section-title">{{ message }}</h2>

    {% render 'partials/link-href.liquid', link:href, linktext:link_text %}

 </section>