{% render 'partials/head.liquid' %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}

    <section class="hero">
        <h1 class="hero-title">De beste digitale bureaus van nederland</h1>
        <p class="hero-text">Dutch Digital Agency (DDA) verenigt en verbindt {{ leden | size }} toonaangevende digitale bureaus. Samen maken we de wereld elke dag een beetje slimmer.</p>
    
        <div class="hero-links">
            <span class="publication-btn">
                {% render 'partials/button.liquid', submit:"WORD LID" %}
            </span>
            
            <a class="zoek-een-bureau-link" href="/zoek-een-bureau">Zoek een bureau
                <img src="/img/arrow.svg" alt="" width="15" height="15">
            </a>
        </div>
   
    </section>
{% render 'partials/partner-carousel.liquid' %}
{% render 'partials/section-title.liquid', category: "EVENTS", message: "HIER KAN JE ONS DE KOMENDE TIJD VINDEN", link_text:"ALLE EVENTS", href:"/events" %}



  {% render 'partials/card-list-events.liquid', headerEvents: headerEvents %}
  {% render 'partials/section-title.liquid', category:"VACATURES", message:"DE BESTE BUREAUS ZOEKEN DE BESTE MENSEN", link_text:"ALLE VACATURES", href:"/vacatures" %}
  {% render 'partials/list-table.liquid', vacatures: vacatures %}
  {% render 'partials/section-title.liquid', category:"PUBLICATIES", message:"HET LAATSTE NIEUWS", link_text:"ALLE PUBLICATIES", href:"publicaties" %}
  {% render 'partials/foto-card.liquid' %}
  {% render 'partials/news-ad.liquid', message: "Meld je aan voor onze nieuwsbrief", submit: "aanmelden" %}
  {% render 'partials/lid-section.liquid' %}
  {% render 'partials/partner-ad.liquid', submit: "WORD PARTNER" %}
  {% render 'partials/footer.liquid' %}
  
</main>


