.test-class {
    animation: scrollding ease-in;

    /* Dit is de naam van het element waarmee je aangeeft hoelang de scrool duurt. 
    je geeft de classname van dat element waardoor nu duidelijk is hoelang dit element is  */
    view-timeline-name: --test-class;

    view-timeline-axis: block;

    /* dit is de het element waarin je de scroll animatie wilt uitvoeren. dit is de class name van het element */
    animation-timeline: --test-class;

    /* wanneer de animatie begint bij hoeveel proces het in het element is en hoeveel procent het covert */
    animation-range: entry 3% cover 30%;
}


@keyframes scrollding {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation-past-event {
    animation: ui-scroll ease-in;
    view-timeline-name: --animation-past-event;
    view-timeline-axis: block;
    animation-timeline: --animation-past-event;
    animation-range: entry 3% cover 30%;
}

@keyframes ui-scroll {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}