.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: var(--spacing-12);

    @media (min-width: 510px) {
        gap: 0;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card-container-child {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    /* gap: var(--spacing-16); */
    padding: var(--spacing-16);
    border-bottom: var(--border)
}

@media (min-width: 550px) {
    .card-container-child:nth-child(1) {
        border-right: var(--border);
    }

    @media (min-width: 550px) {
        .card-container-child:nth-child(3) {
            border-right: var(--border);
        }
    }

    @media (min-width: 1200px) {
        .card-container-child:nth-child(3) {
            border-right: none;
        }
    }

    @media (min-width: 550px) {
        .card-container-child:nth-child(1),
        .card-container-child:nth-child(2) {
            border-bottom: var(--border);
        }
    }

     @media (min-width: 1200px) {
        .card-container-child:nth-child(1),
        .card-container-child:nth-child(2) {
            border-bottom: none;
        }
    }
}

@media (min-width: 800px) {
    .card-container-child {
        border-bottom: none;
        padding: var(--spacing-48);
    }

    .card-container-child:nth-child(1) {
        border-right: var(--border);
    }

    .card-container-child:nth-child(3) {
        border-left: none;
    }
}

@media (min-width: 1200px) {
    .card-container-child:nth-child(3) {
        border-left: var(--border);
    }
}


.card-container-child:last-child {
    border-bottom: none;
}

.card-container-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.card-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: var(--border)
}

.card-title {
    line-height: 1em;
}

.card-container-button {
    padding-top: var(--spacing-24);
}

.label-container {
    padding: 0 5px;
    display: inline-block;
}