   .section-title-container {
       display: flex;
       flex-direction: column;
       justify-content: end;
       align-items: center;
       gap: var(--spacing-24);
       border-bottom: var(--border);
        padding: var(--spacing-96) var(--spacing-24);
       @media (min-width: 500px){
            padding: var(--spacing-48) var(--spacing-16);
       }
   }

   .section-title {
       line-height: 3.5rem;
   }

   .section-title {
       text-align: center;
       margin: 0 auto;
       word-break: break-word;
   }


   .label {
       border: var(--border);
       width: fit-content;
       font-size: var(--size-sm);
       padding-left: var(--spacing-8);
       padding-right: var(--spacing-8);

       font-family: var(--secondary-font);
   }

   .section-title {
       text-align: center;
   }

   .btn-arrow {
       transform: rotate(180deg);
   }

   .btn-link {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: var(--spacing-8);

       all: unset;
       color: var(--blue);
       letter-spacing: var(--letter-spacing);
       font-weight: 600;
   }

   .btn-link svg {
       display: inline-block;
       vertical-align: middle;
   }